@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root, .App {
  min-height: 100vh;
}

.App {
  @apply transition duration-300;
  background-color: #EDEDED;
}


body {
  min-height: 100vh;
}

.json-container {
  @apply bg-stone-300 order-2 md:order-1 h-screen flex items-center justify-center transition duration-300;
}

.json-model {
  @apply p-12 bg-white overflow-auto rounded-md shadow-xl w-10/12 h-4/6 transition duration-300;
}

.items-list-container {
  @apply bg-white w-96 overflow-hidden shadow-xl rounded-md transition duration-300;
  transition: height .5s ease;
}

.items-list {
  @apply transition duration-500;
  li {
    &:not(:last-child) {
      @apply border-b border-stone-200;
    }
  }
}

.list-item {
  @apply flex items-center w-96 p-4 text-gray-800 cursor-pointer shrink-0 hover:bg-stone-100 transition duration-300;
  &.has-children {
    &:after {
      @apply absolute right-4 transition duration-300;
      content: '';
      width: 14px;
      height: 14px;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0xMi4yMTkgMi4yODFMMTAuNzggMy43MiAxOC4wNjIgMTFIMnYyaDE2LjA2M2wtNy4yODIgNy4yODEgMS40MzggMS40MzggOS05IC42ODctLjcxOS0uNjg3LS43MTl6IiAvPjwvc3ZnPg==) center no-repeat;
      opacity: 0.6;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  &--back {
    &:before {
      @apply absolute left-4 transition duration-300;
      content: '';
      width: 14px;
      height: 14px;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0xMi4yMTkgMi4yODFMMTAuNzggMy43MiAxOC4wNjIgMTFIMnYyaDE2LjA2M2wtNy4yODIgNy4yODEgMS40MzggMS40MzggOS05IC42ODctLjcxOS0uNjg3LS43MTl6IiAvPjwvc3ZnPg==) center no-repeat;
      transform: scaleX(-1);
      opacity: 0.6;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.toggle-theme-button {
  @apply absolute top-8 right-8 cursor-pointer;
}

.moon {
  display: none;
}
.sun {
  display: block;
}

.dark-mode {
  .App {
    @apply bg-gray-800;
  }
  .sun {
    display: none;
  }
  .moon {
    display: block;
    fill: white;
  }
  .json-container {
    @apply bg-gray-900;
  }
  .json-model {
    @apply bg-gray-800 text-white;
  }
  .items-list-container {
    @apply bg-gray-900;
  }
  .items-list {
    li {
      &:not(:last-child) {
        @apply border-gray-800;
      }
    }
  }
  .list-item {
    @apply text-white hover:bg-gray-700;
    &.has-children {
      &:after {
        filter: invert(1);
      }
    }
    &--back {
      &:before {
        filter: invert(1)
      }
    }
  }
}
